

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  background-color: white;
}


/* ###################################################
############ NAVIGATION CONTAINER START###############
######################################################*/

.nav__container{
  background-color:inherit;
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: row;
  padding: 1.4rem 0;
  position: relative;
  height: auto;
}

.nav__logo{
  flex: 1;
  text-align: left;
}

nav.nav__items {
  margin: 0 auto;
  flex: 1;
  text-align: right;
  font-size: 16px;
  align-self: center;
}

nav.nav__items ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}
nav.nav__items li a {
  color: black;
}
nav.nav__items li a:hover {
  color: #3ca0e7;
}
nav.nav__items li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}


/* ##################################################
############ NAVIGATION CONTAINER END ###############
#####################################################*/

/*************************************************************
  HEADER
**************************************************************/
.profile__section {
  position: relative;
  display: block;
  width: 100%;
  min-height: 74vh;
  z-index: -1;
}

.profile{
  width: 60%;
  margin: 6rem auto 0;
  position: relative;
}

.profile__name{
  font-size: 50px;
  font-weight: 700;
  padding: 32px 0;
}

.profile__position{
  color: #3ca0e7;
  font-size: 24px;
  font-weight: 400;
  padding: 4px 0;
}

.profile__email{
  color: #333;
  font-size: 24px;
  font-weight: 400;
  padding: 4px 0;
}

.profile__group{
  width: 340px;
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.profile__interest{
  flex: 1;
  font-size: 14px;
  font-weight: 600;
}
.profile__interest-group{
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.interest__item{
  padding: .5rem 0;
  flex: 1;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.interest__item:first-child{
  padding-top: 0;
}

.profile__image{
  display: inline-block;
  position: absolute;
  top: -2%;
  right: 0;
}

.profile__image-circle{
  width: 320px;
  height: auto;
}
/*************************************************************
  SECTIONS
**************************************************************/
section {
  position: relative;
  min-height: 80vh;
  width: 100%;
  position: relative;
  transform-style: inherit;
}

.section1 {
  background: #fff;
  box-shadow: 4px 10px 20px #333;
  z-index: 1;
  min-height: 74vh;
}

.section2::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url(https://picsum.photos/g/1920/1080?random) top center;
  background-size: cover;
  transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}

/*************************************************************
  BASIC STYLES
**************************************************************/

.author {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  background: #fafafa;
  border-bottom-left-radius: 5px;
  transition: 300ms;
}

.author a,
.author a:visited {
  color: #333;
  text-decoration: none;
  display: block;
  transition: 300ms;
}

.author:hover,
.author:active {
  box-shadow: 0 0 10px #33333350;
}

/* profile__section */

.profile__section{

}