

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  background-color: white;
}


/* ###################################################
############ NAVIGATION CONTAINER START###############
######################################################*/

.nav__container{
  background-color:inherit;
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: row;
  padding: 1.4rem 0;
  position: relative;
  height: auto;
}

.nav__logo{
  flex: 1;
  text-align: left;
}

nav.nav__items {
  margin: 0 auto;
  flex: 1;
  text-align: right;
  font-size: 16px;
  align-self: center;
}

nav.nav__items ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}
nav.nav__items li a {
  color: black;
}
nav.nav__items li a:hover {
  color: #3ca0e7;
}
nav.nav__items li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}


/* ##################################################
############ NAVIGATION CONTAINER END ###############
#####################################################*/

/* ##################################################
############ PROFILE CONTAINER START ###############
#####################################################*/
.profile__section {
  position: relative;
  display: block;
  width: 100%;
  min-height: 74vh;
  z-index: -1;
}

.profile{
  width: 60%;
  margin: 6rem auto 0;
  position: relative;
}

.profile__name{
  font-size: 50px;
  font-weight: 700;
  padding: 0;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #3ca0e7; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 2rem auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  60% { border-color: #3ca0e7 }
}



.profile__position{
  color: #3ca0e7;
  font-size: 24px;
  font-weight: 400;
  padding: 4px 0;
}

.profile__email{
  color: #333;
  font-size: 24px;
  font-weight: 400;
  padding: 4px 0;
}

.profile__group{
  width: 340px;
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.profile__interest{
  flex: 1;
  font-size: 14px;
  font-weight: 600;
}
.profile__interest-group{
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.interest__item{
  padding: .5rem 0;
  flex: 1;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.interest__item:first-child{
  padding-top: 0;
}

.profile__image{
  display: inline-block;
  position: absolute;
  top: -2%;
  right: 0;
}

.profile__image-circle{
  width: 320px;
  height: auto;
}


/* ##################################################
############ PROFILE CONTAINER END ###############
#####################################################*/

/* ##################################################
############ SKILLS CONTAINER START ###############
#####################################################*/

.skill__section {
  background: #fff;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 74vh;
  width: 100%;
  position: relative;
}

.skills__group{
  width: 60%;
  padding: 4rem 0 0 0;
  margin: auto;
}

.skills__person{
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.skills{
  width: 360px;
  margin: 3rem auto 0;
  text-align: center;
}

.skills h4{
  font-size: 28px;
  font-weight: 500;
  padding: 8px;
  color: #fff;
}

.skills strong{
  font-size: 14px;
  color: #727272;
  font-weight: 400;
}

.skills ul{
  display: block;
  list-style: none;
  margin: 2rem auto;
}

.skills ul li{
  display: inline-block;
  width: 32px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* ##################################################
############ SKILLS CONTAINER END ###############
#####################################################*/

/* ##################################################
############ SKILLS CONTAINER START ###############
#####################################################*/

.projects__section {
  position: relative;
  display: block;
  z-index: -1;
  padding: 4rem 0;
  margin: 0;
}

.project{
  width: 60%;
  display: block;
  height: 500px;
  margin: 1rem auto;
  position: relative;
}

.project img{
  width: 74%;
  position: absolute;
}

.project img.right{
  top: 1rem;
  right: 1rem;
}

.project img.left{
  top: 1rem;
  left: 1rem;
}

.project .project__header{
  position: absolute;
  top: 4rem;
  left: 1.7rem;
  display: block;
}

.project .project__header-right{
  position: absolute;
  top: 4rem;
  right: 1.7rem;
  display: block;
}

.project__header h3{
  font-size: 2.5rem;
  font-weight: 700;
}

.project__header-right h3{
  font-size: 2.5rem;
  font-weight: 700;
}

.project__header a::after{
  content:  " ";
  height: 6px;
  width: 32%;
  background-color: #3ca0e7;
  display: block;
}

.project__header-right a::after{
  content: "";
  height: 6px;
  width: 32%;
  background-color: #3ca0e7;
  display: block;
  margin-left: 70%;
}

.project__header a{
  font-size: 2.2rem;
  font-weight: 500;
  color: #727272;
  cursor: pointer;
  padding-bottom: 1rem;
}

.project__header-right a{
  font-size: 2.2rem;
  text-align: right;
  font-weight: 500;
  color: #727272;
  cursor: pointer;
  display: block;
  padding-bottom: 1rem;
}


.project__header ul{
  list-style: none;
  display: block;
  margin: 1.6rem auto;
  text-align: left;
}

.project__header-right ul{
  list-style: none;
  display: block;
  margin: 1.6rem auto;
  text-align: right;
}

.project__header ul li{
  width: 28px;
  height: auto;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
}

.project__header-right ul li{
  width: 28px;
  height: auto;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
}

/* ##################################################
############ PROJECTS CONTAINER END ###############
#####################################################*/


/* ##################################################
############ FOOTER CONTAINER END ###############
#####################################################*/
footer{
  width: 100%;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 a {
  position: relative;
  display: block;
  overflow: hidden;
  opacity: 0;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  background-color: #303132;
  font-size: 3em;
  line-height: 3em;
  color: transparent;
  border-radius: 50%;
  border: 0em solid #39F;
  transition: all .15s ease-in-out;
  animation: logo .25s ease-out 2.4s 1 normal forwards;
}

h1 a:hover, h1 a:focus { background-color: #39F; }
h1 a:active { transform: scale(.8); }

@keyframes logo {
  0%   { transform: rotate(25deg) scale(.01); opacity: 0; }
  70%  { transform: scale(1.4); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.slogan {
  position: relative;
  display: block;
  overflow: hidden;
  width: 0em;
  height: 1.25em;
  margin: 1em auto;
  font-size: 2em;
  line-height: 1.5em;
  border-right: .125em solid #39F;
  box-sizing: content-box;
  animation-name: blink-start, typing, blink-end;
  animation-duration: 1s, 1s, 1s;
  animation-timing-function: linear, steps(13, end), linear;
  animation-delay: 0s, 1s, 2s;
  animation-iteration-count: 1, 1, infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.slogan span {
  display: block;
  width: 8em;
}

@keyframes typing {
  from { width: 0em; }
  to   { width: 8em; }
}

@keyframes blink-start {
  from, to { border-color: #39F; }
  50% { border-color: transparent; }
}

@keyframes blink-end {
  from, to { border-color: #39F; }
  50% { border-color: transparent; }
}
.contact {
  position: relative;
  width: 40%;
  margin: auto;
  text-align: center;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  width: 84px;
  line-height: 2em;
  margin: 0 .20em;
  color: #555;
  font-size: 1.5em;
  transition: background-color .2s ease-in-out;
  border-radius: 50%;
  animation: icons .2s ease-out 0s 1 normal forwards;
}

@keyframes icons {
  0%    { transform: translateY(3em); opacity: 0; }
  70%   { transform: translateY(-.5em); opacity: 1; }
  100%  { transform: translateY(0em); opacity: 1; }
}

.contact a:nth-child(1) { animation-delay: 2.5s; }
.contact a:nth-child(2) { animation-delay: 2.55s; }
.contact a:nth-child(3) { animation-delay: 2.6s; }
.contact a:nth-child(4) { animation-delay: 2.65s; }

.contact a:hover { color: #39F; }



/* ##################################################
############ FOOTER CONTAINER END ###############
#####################################################*/